<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta Http-Equiv="Cache-Control" Content="no-cache">
  <meta Http-Equiv="Pragma" Content="no-cache">
  <meta Http-Equiv="Expires" Content="0">
  <meta Http-Equiv="Pragma-directive: no-cache">
  <meta Http-Equiv="Cache-directive: no-cache">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"/>
  <title>{% block title %}{% endblock %} - My Webpage</title>
  <script src="{{url_for('static', filename='js/jquery-3.2.1.js')}}"></script>
  {% endblock %}
</head>
<body class="centered-wrapper">
  <div id="left">
    {% block left %}{% endblock %}
    <a href="/image_upload/{{ id }}"> Upload Photo </a>
    <br/>
    <a href="/gallery/{{ id }}"> Gallery of {{ display_name }} </a>
    <br/>
    <a href="/logout"> Logout </a>
  </div>
  <div id="principal">
    {% block principal %}{% endblock %}
  </div>
</body>
</html>
